@model ForgotPasswordViewModel

<div class="mb-3">
    <form method="post">
        <div class="container">
    <label for="Email" class="form-label">Email address</label>
    <input type="email" asp-for="Email" class="form-control"placeholder="name@example.com">
    <span asp-validation-for="Email" class="text-danger"></span>
    <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>