@model ResetPasswordViewModel


<div class="mb-3">
    <form method="post">
        <div class="container">
            <input hidden asp-for="Email"/>
            <input hidden asp-for="Token"/>
            <label for="Password" class="form-label">Password</label>
            <input type="password"class="form-control" aria-describedby="passwordHelpBlock">
            <div class="form-text">
                Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
            </div>
            <span asp-validation-for="Password" class="text-danger"></span>

            <label for="ConfirmPassword" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" aria-describedby="passwordHelpBlock">
            <span asp-validation-for="Password" class="text-danger"></span>

            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>